<!DOCTYPE html>
<html>
	<head>
		{{ partial "head" . }}
	</head>

	<body>
		<!--- Header ----------------------------------------------->
		{{ partial "header" . }}
		<!--- Content ----------------------------------------------->
		<section class="section">
			<div class="container">
				<!--- Title ----------------------------------------->
				<h1 class="title">{{ .Title }}</h1>
				<p class="subtitle is-6 has-text-grey">
					<span>🗓️ <time>{{ .Date.Format "January 2, 2006" }}</time></span>
				</p>
				<div class="columns">
					<div class="column is-three-fifths">
						<!--- Description --------------------------->
						<h2 class="subtitle is-5 has-text-weight-semibold">Description</h2>
						<div class="content">
							{{ .Content }}
						</div>
						<!--- Download ------------------------------>
						{{ if or ( isset .Params "windows" ) ( isset .Params "macos" ) ( isset .Params "linux" )}}
						<h2 class="subtitle is-5 has-text-weight-semibold">Download</h2>
						<nav class="navbar buttons has-addons">
							{{ with .Params.windows }}
							<a href="{{ . }}" class="navbar-item button">
			                  <span>Windows</span>
			                </a>
			                {{ end }}
			                {{ with .Params.macos }}
			                <a href="{{ . }}" class="navbar-item button">
			                  <span>MacOS</span>
			                </a>
			                {{ end }}
			                {{ with .Params.linux }}
			                <a href="{{ . }}" class="navbar-item button">
			                  <span>Linux</span>
			                </a>
			                {{ end }}
						</nav>
						{{ end }}
					</div>
					<div class="column">
						<!--- Media -------------------------------->
						<h2 class="subtitle is-5 has-text-weight-semibold">Media</h2>
						<div class="container">
							{{ with .Params.youtube}}
							<figure class="image is-16by9">
								<iframe class="has-ratio" width="100%" height="auto" src="https://youtube.com/embed/{{ . }}" allowfullscreen></iframe>
							</figure>						
							<br>
							{{ end }}
							<div class="columns is-multiline">
							{{ with .Resources.ByType "image" }}	
								{{ range  . }}
								{{ $thumbnail := .Resize "256x q60 CatmullRom"}}
								<div class="column is-half">
									<figure class="image">
										<a href="{{ .Permalink }}" target="_blank">
											<img src="{{ $thumbnail.Permalink }}" >
										</a>
									</figure>
								</div>	
								{{ end }}							
							{{ end }}
							</div>
						</div>
					</div>
				</div>
			</div>	
		</section>
		<!-- Footer ------------------------------------------------>
		{{ partial "footer" . }}
	</body>
</html>