<!-- General Meta (Legacy?) -->
<title>{{ .Title }}</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="author" content="Frans Peter Larsen">
<meta name="description" content="Frans Peter Larsen is a Unity and Unreal Engine, Game Developer based in Copenhagen.">
<link rel="alternate" type="application/atom+xml" title="Frans Portfolio" href="/index.xml">

<!-- Open Graph Data -->
{{ if .Page.Params.youtube }}
<meta property="og:video" content="https://www.youtube.com/v/{{ .Page.Params.youtube }}">
{{ end }}

{{ if .IsHome }}
{{ range where .Pages.ByDate.Reverse "Section" "favourites" }}
{{ $thumbnail := .Resources.GetMatch "thumbnail*" }}
{{ if ne $thumbnail nil }}
{{ if eq $thumbnail.MediaType.MainType "video"}}
<meta property="og:video" content="{{ $thumbnail.Permalink }}">
{{ else if eq $thumbnail.MediaType.MainType "image"}}
<meta property="og:image" content="{{ $thumbnail.Permalink }}" />
{{ end }}
{{ end }}
{{ end }}
{{ else }}
{{ with .Resources.ByType "image" }}
{{ range . }}
<meta property="og:image" content="{{ .Permalink }}" />
{{ end }}
{{ end }}
{{ end }}
{{ template "_internal/opengraph.html" . }}

<!-- Styles & Design-->
{{ $sass := resources.Get "sass/main.scss" }}
{{ $style := $sass | resources.ToCSS | resources.Minify }}
<link rel="stylesheet" href="{{ $style.Permalink }}">
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700" rel="stylesheet">
<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

<!-- favicon -->
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">

<!-- Analytics -->
<script async defer data-domain="jalict.com" src="https://plausible.io/js/plausible.js"></script>
