<section class="section">
    <div class="container">
      <div class="columns">
        <div class="column is-one-quarter">
          <a href="/">
            <figure class="image is-square">
              <img class="is-rounded" src="/profile.jpg">
            </figure>
          </a>
        </div>
        <div class="column">
          <div class="content">
            <p class="subtitle is-5">👋 Hi, my name is <strong>Frans</strong> Peter Larsen</p>
            <p class="subtitle is-5">🕹️ I work with Videogames & Web </p>
            <p class="subtitle is-5">💡 Got many skills across the board </p>
            <p class="subtitle is-5">⌨️ My primary field is Programming</p>
          </div>
            <nav class="navbar buttons has-addons">
              <a href="/" class="navbar-item button">
                <span>🏠 Home</span>
              </a>
              <a href="/about/" class="navbar-item button">
                <span>🕵️ About</span>
              </a>
              <a href="mailto:larsen.frans@gmail.com" class="navbar-item button">
                <span>📧 Email</span>
              </a>
              <a href="/cv_franspeterlarsen.pdf" target="_blank" class="navbar-item button">
                <span>🏛️ CV</span>
              </a>
            </nav>
        </div>
      </div>
    </div>
  </section>